<!doctype html>
<head>
  <title>Rabbit Dictonary</title>
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static',
  filename='css/main.css') }}"></link>
</head>
<body>
  <div id="top">
    <h1>Welcome to the Rabbit Dictonary</h1>
   <div class="menu_bar">
    <ul>
      <a href="{{url_for('welcome')}}"><li>Home</li></a>
      <li>Size</li>
      <li>Fur Type</li>
      <li>Ear Type</li>
      <a href="{{url_for('origin_select')}}"><li>Origin</li></a>
      <li>Use</li>
    </ul>
   </div>
  </div>
  <div class=data>
    {% block body %}
    {% endblock%}
  </div>
</body>
</html>
