<!doctype html>
<head>
  <title>Rabbit Dictonary</title>
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static',
  filename='css/main.css') }}"></link>
</head>
<body>
  <div id="top">
    <h1>Welcome to the Rabbit Dictonary</h1>
    <form action="" method="post" name="search_form">
      <input type="text" name="search" id=search_iteam><input type="submit"
      value="Search" id = search_button>
    </form>
   <div class="menu_bar">
    <ul>
      <a href="{{url_for('welcome')}}"><li>Home</li></a>
      <li>Size
        <ul>
          <li>Small</li>
          <li>Medium</li>
          <li>Large</li>
          <li>Giant</li>
          <li>Any</li>
        </ul>
      </li>
     <li>Fur Type</li>
     <li>Ear Type
        <ul>
          <li><a href="{{url_for('search_by_ear',search='upright')}}">Upright</a></li>
          <li><a href ="{{url_for('search_by_ear',search='lopped')}}">Lopped</a></li>
        </ul>
      </li>
      <a href="{{url_for('origin_select')}}"><li>Origin</li></a>
      <li>Colour</li>
      <li>Use</li>   
    </ul>
   </div>
  </div>
  <div class=data>
    {% block body %}
    {% endblock%}
  </div>
</body>
</html>
